*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray-988: #121214;
    --gray-300: #9370DB;

    --primary-200: #fcd885;
    --primary-400:#ffbc48;
    font-size: 62.5%;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border-width: 0;
    white-space: nowrap;
}